<h1>Products Listing</h1>

<div>
  <% @products.each do |product| %>
    <div>
      <h3><%= product.title %></h3>
      <p>Store: <%= product.store.name %></p>
      <p>Price: <%= number_to_currency(product.price) %></p>
      <% if current_user.admin? %>
        <p>Discarded: <%= product.discarded? %></p>
      <% end %>
      <%= link_to 'Show', store_product_path(product.store, product) %>
      <% if current_user.admin? %>
        <%= link_to 'Edit', edit_store_product_path(product.store, product) %>
      <% end %>
    </div>
    <hr />
  <% end %>
</div>