<h1><%= @product.title %></h1>

<p>Store: <%= @product.store.name %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>

<div>
  <%= link_to 'Destroy', store_product_path(@store, @product), method: :delete%> |
  <%= link_to 'Edit', edit_store_product_path(@store, @product) %> |
  <%= link_to 'Back', store_products_path %>
</div>