<h1><%= @product.title %></h1>

<p>Store: <%= @product.store.name %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>

<% if current_user.admin? %>
  <div>
  <%= button_to "Destroy this Product", store_product_path(@store, @product), method: :delete %>
    <%= link_to 'Edit', edit_store_product_path(@store, @product) %> |
  </div>
<% end %>

<%= link_to 'Back to Products', store_products_path %>